@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-controller="Foremen" asp-action="Index">Foremen</a>

<a asp-controller="Workers" asp-action="Index">Workers</a>

<a asp-controller="Machines" asp-action="Index">Machines</a>

<a asp-controller="TechMaps" asp-action="Index">TechMaps</a>

<a asp-controller="Tasks" asp-action="Index">Tasks</a>
